.text {
    color: #f0f0f0;
    text-transform: uppercase;
    font-size: 4rem;
    word-break: break-word;
    font-family: 'Abril Fatface', cursive;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: 300px;

    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.imgcolum {
    width: 100%;
    filter: grayscale(100%);
}

.imgcolum:hover {
    filter: grayscale(10%);
}

section.gall {
    margin-top: 1%;
    height: 25vh;
    display: flex;
}

@media (max-width:599px) {
    section.gall {
        flex-wrap: wrap;
    }
}

.card {
    margin: 0.5%;
    background-image: url('../img/2');
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.card:hover {
    filter: grayscale(10%);
}